page-login {
    $colors: (
    primary:    #b10fd1,
    secondary:  #00ff4c,
    danger:     #f53d3d,
    light:      #0077ff,
    dark:       #222,
    base:       #c8ff00,
    contrast:   #8f8611

    )
    
}
